on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
    
    - name: deps
      run: make setup

    - name: Build
      run: make build

    - name: Test
      run: make test

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      
      - name: setup
        run: make setup

      - name: mocks
        run: make mocks

      - uses: golangci/golangci-lint-action@v8
        with:
          version: v2.4.0
